<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Administracion Educativa</span>
  <span class="header-spacer"></span>

  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Iniciar Sesión</a>
    <a
      mat-button
      mat-raised-button
      routerLink="registro"
      routerLinkActive="active"
      >Registrar</a
    >
  </span>

</mat-toolbar>
