<mat-grid-list cols="1" rowHeight="500px">
  <mat-grid-tile>
    <div>
      <mat-form-field appearance="outline" class="width-50">
        <mat-label>Nombres</mat-label>
        <input [(ngModel)]="usuarioObj.Nombres" matInput required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="width-50 ml-2">
        <mat-label>Apellidos</mat-label>
        <input [(ngModel)]="usuarioObj.Apellidos" matInput required />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Correo Electrónico</mat-label>
        <input
          [(ngModel)]="usuarioObj.Correo"
          matInput
          placeholder="Ej. maestro@escuela.com"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Contraseña</mat-label>
        <input
          [(ngModel)]="usuarioObj.Password"
          matInput
          [type]="ocultar ? 'password' : 'text'"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="ocultar = !ocultar"
          [attr.aria-label]="'Ocultar contraseña'"
          [attr.aria-pressed]="ocultar"
        >
          <mat-icon>{{ ocultar ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline" class="width-50">
        <mat-label>Edad</mat-label>
        <input
          [(ngModel)]="usuarioObj.Edad"
          matInput
          type="number"
          min="4"
          max="100"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="width-50 ml-2">
        <mat-label>Rol</mat-label>
        <mat-select required>
          <mat-option
            ngDefaultControl
            [(ngModel)]="usuarioObj.RolID"
            *ngFor="let item of data"
            [value]="item.ID"
            >{{ item.NombreRol }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button
        (click)="agregarUsuario(usuarioObj)"
        mat-raised-button
        color="primary"
        class="width-100"
      >
        Guardar
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
